<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_android_bluedemo_532ant"
    android:versionCode="1"
    android:versionName="1.6.0.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_sl"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.example.module_android_bluedemo_532ant.MyApplication">
        <activity
            android:name="com.example.module_android_bluedemo_532ant.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.example.module_android_bluedemo_532ant.Sub4TabActivity" 
              >
        </activity>
         <activity
            android:name="com.example.module_android_bluedemo_532ant.Sub1TabActivity"
             
              >
        </activity>
          <activity
            android:name="com.example.module_android_bluedemo_532ant.Sub3TabActivity" 
              >
        </activity>
          <activity
            android:name="com.example.module_android_bluedemo_532ant.SubDebugActivity"
             android:screenOrientation="portrait" 
              >
            </activity>
          <activity
            android:name="com.example.module_android_bluedemo_532ant.SubBlueSetTabActivity"
             android:screenOrientation="portrait" 
              >
        </activity>
           <activity
            android:name="com.example.module_android_bluedemo_532ant.SubSystemActivity" 
             android:screenOrientation="portrait"
              >
        </activity>
            <activity
            android:name="com.example.module_android_bluedemo_532ant.OprationBLEActivity" 
             android:theme="@android:style/Theme.Dialog">
              >
        </activity>
        
    </application>

</manifest>
